<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <title>All Veggies</title>
</head>
<body>
    
    <div id="wrapper">

        <h1>Welcome, {{user.first_name}} {{user.last_name}}!</h1>
        <a href="/logout">Logout</a>

        <form action="/add_veggie" method="POST">
            {% csrf_token %}
            <label for="veggie">Veggie</label>
            <input type="text" name="veggie">
            <button type="submit">Post</button>

        </form>
        

        <!--TABLE-->
        <table>
            <tr>
                <th>ID</th>
                <th>Veggie</th>
                <th>Uploaded By</th>
                <th>Actions</th>
                <th>Like / Unlike</th>
                <th>ACTion 2</th>
            </tr>
            {% for veggie in all_veggies %}
            <tr>

             <!--all_veggies from context-->
            
                <td>{{veggie.id}}</td>
                <td>{{veggie.kind}}</td>
                <td>{{veggie.user_uploader.first_name}}  {{veggie.user_uploader.last_name}}</td>
                
                <td>
                    <a href="/show/{{veggie.id}}">Show</a> 

                    {% if veggie.user_uploader ==  user %}
                        {% if user in veggie.likes.all %}
                            <a href="/show/{{veggie.id}}/un_likes">Un Like</a>
                        {% endif %}
                    {% endif %}
        
                    
                
                    {% if veggie.user_uploader ==  user %}
                        {% if user not in veggie.likes.all %}
                            <a href="/show/{{veggie.id}}/likes">Like</a>
                        {% endif %}
                    {% endif %}
                    
                    
                    
                    <a href="/show/{{veggie.id}}/likes">Likes</a>
                    
                    {% if veggie.user_uploader == user %}
                        <a href="/veggies/{{veggie.id}}/edit">Edit</a>
                    {% endif %} <!--End of if statement for edit link-->
                        
                    {% if veggie.user_uploader == user %}
                        <a href="/veggies/{{veggie.id}}/delete">Delete</a> 
                    {% endif %} <!--End of if statement for Delete-->
                </td>
                
                <td>{{veggie.user_likes.first_name}}</td> 

                {% if veggie.user_likes == user %}
                    <td>{{user.first_name}}</td>
                {% endif %}
                
                <td>{{veggie.user_likes.first_name}}</td>
                

                

            
            </tr>
            {% endfor %}
            
        </table>



    </div><!--End of Wrapper-->


</body>
</html>